[Unit]
Description=Enable THP

[Service]
Type=oneshot
ExecStart=/home/max/src/thp-usage/thp-enable.sh

[Install]
WantedBy=basic.target

# sudo systemctl link $(readlink -f thp-enable.service)
# sudo systemctl start thp-enable.service
