[Unit]
Description=THP Always

[Service]
Type=oneshot
ExecStart=/etc/systemd/system/thp-always.service.d/thp-always.sh

[Install]
WantedBy=basic.target
